.errorPage {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/error-image.jpg");
    background-size: cover;
    opacity: 0.75;
    z-index: -1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.errorTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.errorText {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.errorButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #aa0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b34d4d;
  }
}
